

<div class="container">
  <div class="container">
    <div class="datadisplay" ng-init="fetchClimateData(); sun()">

        <button toggle-button active-text="On" inactive-text="Off" ng-model="light.state">Light Switch</button><br>
        {{data}}
        <div class="container menubar">
        <div>
          {{temperature}}F
          {{humidity}}%
          <img id="temperature" class="btn btn-primary navbtn" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" title="Temp">
        </div>
        <div>
          {{vegSunT5State}}
          <img id="sun" class="btn btn-primary navbtn" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" title="Light">
        </div>
        <div>
          {{pump1State}}
          <img id="rain" class="btn btn-primary navbtn" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" title="Water">
        </div>
        <div>
          {{fanState}} {{dehumidifierState}}
          <img id="wind" class="btn btn-primary navbtn" ng-src="img/wind.png" title="Wind">
        </div>
        <div ng-init="plants()">
          <img id="plants" class="btn btn-primary navbtn" ng-src="img/plants.png" title="Plant Log">
        </div>
        <div ng-init="ledger()">
          <img ng-click="digitaltest()" id="ledger" class="btn btn-primary navbtn" ng-src="img/ledger.png" title="Ledger">
        </div>
        <div>
          <img id="garden" class="btn btn-primary navbtn" ng-src="img/notes.png" title="Garden data">
        </div>
      </div>
    </div>
  </div>
</div>
