<div class="container">
  <h1>Central SmartHome Console</h1>
  <p>   This is the Central Console.  It will be a user interface for displaying the way all micro controllers on premises interrelate.</p>
  <p>   The coop, the greenhouse, the house, the shed - each have microcontrolled ecosystems with data feed back.</p>
  <p>   - need creative ways to show interconnected web of household systems.</p>
  <p>   - should also display interconnections with macro environments such as daily
          and seasonal weather patterns.
  </p>
</div>
